<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title slot="start">
            {{setTitle()}}
        </ion-title>
        <ion-item slot="end" lines="none" color="primary">
            <ion-label>Dark Mode</ion-label>
            <ion-toggle color="dark" [checked]="isToggleChecked" (ionChange)="onToggleChange($event)"></ion-toggle>
        </ion-item>
    </ion-toolbar>
</ion-header>