<app-header [tabTitle]="currentTab"></app-header>
<ion-tabs (ionTabsWillChange)="onSelected($event)">

    <ion-tab-bar slot="bottom" color="primary">
        <ion-tab-button tab="current">
            <ion-icon name="cloud"></ion-icon>
            <ion-label>Current Weather</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="forecast" color="primary">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Forecast</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>