<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Forecast</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-list *ngIf="forecastWeather">
        <ion-item *ngFor="let forecast of forecastWeather">
            <ion-grid>
                <ion-row>
                    <ion-col sizeXl="1" sizeXs="3" align-self-end>
                        <ion-thumbnail>
                            <ion-img [src]="getWeatherImage(forecast)"></ion-img>
                        </ion-thumbnail>
                    </ion-col>
                    <ion-col align-self-end>

                        <ion-row>
                            <ion-col>
                                <ion-label *ngIf="forecast.weather">{{ getWeatherDate(forecast)}}</ion-label>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-label *ngIf="forecast.weather">{{ getWeatherTitle(forecast)}}</ion-label>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-label *ngIf="forecast.main.temp_min">Low: {{ getLowTemperature(forecast) }} °F</ion-label>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-label *ngIf="forecast.main.temp_max">High: {{ getHighTemperature(forecast)}} °F</ion-label>
                            </ion-col>
                        </ion-row>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>