ion-content ion-toolbar {
    --background: translucent;
}

ion-item {
    font-size: 0.8rem;
}

ion-list {
    padding-top: 80px;
}

ion-col {
    padding-top: 0;
    margin-right: 5px;
}

ion-thumbnail {
    min-width: 5rem;
    min-height: 5rem;
    img {
        max-width: 5rem;
        min-width: 5rem;
    }
}