<ion-content [fullscreen]="true" slot="bottom">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Forecast</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-grid *ngIf="temperature">

        <ion-row class="ion-justify-content-center">
            <ion-item lines="none" id="temperature">
                <ion-label>{{ temperature + ' °F'}}</ion-label>
            </ion-item>
        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-item lines="none">
                <ion-label>{{ city + ', ' + country}}</ion-label>
            </ion-item>
        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-item lines="none">
                <ion-thumbnail>
                    <ion-img [src]="weatherImage"></ion-img>
                </ion-thumbnail>
            </ion-item>
        </ion-row>


        <ion-row class="ion-justify-content-center">
            <ion-item lines="none">
                <ion-label>{{ weatherTitle }}</ion-label>
            </ion-item>
        </ion-row>

    </ion-grid>
</ion-content>