ion-content ion-toolbar {
    --background: translucent;
}

#temperature {
    --padding-top: 55px;
    --padding-bottom: 0px;
}

ion-item {
    font-size: 1.6rem;
}

ion-thumbnail,
ion-label {
    margin: 0;
}

ion-thumbnail {
    min-width: 8rem;
    min-height: 8rem;
    img {
        max-width: 8rem;
        min-width: 8rem;
    }
}